<h1>Create A New Movie</h1>

<form action="<%= movies_path %>" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" name="movie[title]" id="title"/>
    </div>
    <div>
        <label for="rating">Rating</label>
        <input type="number" name="movie[rating]" id="title" min="1" max="10"/>
    </div>
    <div>
        <label for="description">Description</label>
        <textarea> name="movie[description]" id="description"</textarea>
    </div>
        <div>
        <label for="image">Image</label>
        <input type="text" name="movie[image]" id="image" />
    </div>
    <input type="submit" value="Add New Movie"/>
</form>